body {
    font-family: Arial, sans-serif;
    text-align: center; /* Center align the content */
    background-color: #000; /* Set background color to black */
    color: gold; /* Set text color to gold */
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s; /* Add transition effect */
    cursor: pointer;
}

.button:hover {
    background-color: #45a049; /* Darker green */
}

#clear-button {
    background-color: #f44336; /* Red */
}

#clear-button:hover {
    background-color: #d32f2f; /* Darker red */
}

hr {
    border: 1px solid #f0f0f0;
    margin-top: 20px;
    margin-bottom: 20px;
}